<!DOCTYPE html>
<html>
  <head>
    <title>Accounts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <%= yield %>
  </body>
</html>
